@charset "UTF-8";

@font-face {
    font-family: 'Play';
    src: url('/fonts/Play-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Play', sans-serif;
    color: #fff;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: #060304;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

a:hover, a:focus {
    color: #f2db9f;
}

.top {
    position: relative;
}

.brand {
    height: 350px;
}

.logo {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 250px;
    z-index: 999;
}

.scene {
    background-color: #0f0c0c;
    border: solid 1px #141415;
    padding-top: 15px;
}

nav, .footerheader {
    border-top: solid 1px rgba(128, 183, 226, 0.15);
    border-bottom: solid 1px rgba(128, 183, 226, 0.15);
    background-color: rgba(128, 183, 226, 0.03);
}

.menuitem {
    color: #fff;
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    padding: 6px 15px 7px;
    margin-right: 15px;
}

.menuitemright {
    color: #fff;
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    padding: 6px 15px 7px;
    float: right;
}

.smallextlink {
    font-size: 0.6em;
}

.menuitema i {
    font-size: 0.7em;
}

.menuiteminner {
    padding: 15px;
    background-color: #131113;
    position: absolute;
    display: none;
    margin-top: 7px;
    min-width: 700px;
    z-index: 1000;
    border: solid 1px rgba(128, 183, 226, 0.3);
    border-top: solid 1px rgba(128, 183, 226, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menuiteminner a {
    display: block;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 7px 12px;
    white-space: nowrap;
}

.cat {
    width: 100%;
    padding: 5px;
}

.menuitema {
    color: #fff;
}

.linedialogo {
    width: 45px;
    border-radius: 50%;
}

.menuiteminnerinfo {
    border-bottom: solid 1px rgba(128, 183, 226, 0.15);
}

.menuiteminnerinfo a {
    display: inline-block;
}

.menuiteminnerinfo img {
    padding: 5px;
}

/*Content*/

.serversectioninfo {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.vipserver {
    border: solid 1px rgba(128, 183, 226, 0.1);
    background-color: rgba(128, 183, 226, 0.03);
    cursor: pointer;
    height: 90px;
    margin-bottom: 25px;
}

.vipserver:hover {
    border: solid 1px rgba(128, 183, 226, 0.3);
    background-color: rgba(128, 183, 226, 0.07);
}

.vipserverinner {
    float: left;
    width: 70px;
    border: solid 1px rgba(128, 183, 226, 0.1);
    background-color: #0f0c0c;
    margin-top: -5px;
    margin-left: -5px;
    height: 100px;
}

.vipserverinner img {
    width: 100%;
    padding: 7px;
}

.vipservertext {
    display: block;
    font-size: 18px;
    padding: 5px;
    height: 30px;
    overflow: hidden;
}

.vipserver a {
    display: inline-block;
    padding-left: 5px;
    height: 20px;
    overflow: hidden;
    color: #80b7e2;
}

.vipserverinfo {
    margin-top: 5px;
}

.bages {
    margin-left: 5px;
    display: inline-block;
}

.bages img {
    width: auto;
    height: 21px;
    padding: 1px;
}

.params {
    float: right;
    margin-top: 1px;
    margin-right: 5px;
}

.params span {
    padding: 5px;
    color: #f2db9f;
}

.supervipserverscont {
    background-color: rgba(128, 183, 226, 0.03);
    border: solid 1px rgba(128, 183, 226, 0.1);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.vipserverscont {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {

    .cat {
        display: none;
    }

    .headerlink {
        margin: 3px;
        padding: 7px;
    }

    nav {
        margin-top: 15px;
    }

    .menuitem {
        display: block;
        padding: 12px;
    }

    .menuitemright {
        float: none;
    }

    .menuiteminner {
        margin: 0;
        min-width: 300px;
        position: relative;
        background: none;
        border: none;
    }

    .menuiteminner a {
        padding: 15px;
        color: #fff;
    }

}
